/* tela de cadastro */
.altura-sidebar {
    height: 100%;
}

.custom-width {
    width: 50%;
}

form {
    height: 200px;
}

.form-select-color {
    border: 1px solid #d1d3e2;
    color: #6e707e;
}

.btn-custom {
    height: 2.2rem;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
}

textarea {
    resize: none;
}

.btn-excluir, .btn-editar {
    border: none;
    color: #4e73df;
    background-color: white;
}

.btn-excluir:hover, .btn-editar {
    color: #1e3a90;
    
}

.scroll-form {
    max-height: 300px;
    max-width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media screen and (min-width: 770px){
    .genero-altura {
        max-height: 120px;
        box-sizing: border-box;
    } 
}

.link-home {
    width: 10rem;
    background-color: #4e73df;
    border-radius: 3px;
    color: #d1d3e2;
    padding: 1rem 1.2rem;
    transition: 300ms;
}

.link-home:hover {
    background-color: #3059d4;
    color: #d1d3e2;
    text-decoration: none;
}

.img-check {
    max-width: 15rem;
}